    <form action= <%= cat.persisted? ? cat_url(cat.id) : cats_url %> method="POST" >
      <input type="hidden" name="_method" value= <%= cat.persisted? ? "PATCH" : "POST" %> >
      <label>Name
      <input type="text" name="cat[name]" value= <%= cat.name %>>
      </label>

      <label for="cat_gender">Gender</label>
      <select name="cat[sex]" id="cat_gender">
        <option value="nil">(select a gender)</option>
        <option value="M" <%= "selected" if cat.sex == "M" %>>Male</option>
        <option value="F" <%= "selected" if cat.sex == "F" %>>Female</option>
      </select>

      <br>

      <label for="cat_color">Color:</label>
      <% %w(Purple Black White Pokedots).each do |color| %>
        <%= color %><input type="radio" name="cat[color]" value=<%= color %> id="cat_color" <%= "checked" if color == cat.color %>>
      <% end %>

      <br>

      <label>Birth date
      <input type="date" name="cat[birth_date]" value= <%= cat.birth_date %>>
      </label>

      <br>

      <label>
        Description<br>
        <textarea name="cat[description]" rows="8" cols="50"><%= cat.description %></textarea>
      </label>
      <input type="submit" value="Submit">
    </form>
